
<h4>Various Request Values:</h4>

<p>GATEWAY_INTERFACE: <%= request.env['GATEWAY_INTERFACE'] %></p>
<p>PATH_INFO: <%= request.env['PATH_INFO'] %></p>
<p>QUERY_STRING: <%= request.env['QUERY_STRING'] %></p>
<p>REMOTE_ADDR: <%= request.env['REMOTE_ADDR'] %></p>
<p>REMOTE_HOST: <%= request.env['REMOTE_HOST'] %></p>
<p>REQUEST_METHOD: <%= request.env['REQUEST_METHOD'] %></p>
<p>REQUEST_URI: <%= request.env['REQUEST_URI'] %></p>
<p>SERVER_PORT: <%= request.env['SERVER_PORT'] %></p>
<p>SERVER_SOFTWARE: <%= request.env['SERVER_SOFTWARE'] %></p>
<p>HTTP_USER_AGENT: <%= request.env['HTTP_USER_AGENT'] %></p>
<p>HTTP_ACCEPT: <%= request.env['HTTP_ACCEPT'] %></p>
